<ion-content [fullscreen]="true">

  <h1 style="display: flex; flex-direction: column; align-items: center;
  margin-top: 30vh;">
  Baby Journey
  </h1> 

 <div class="login-box">
  
    <h2>Sign Up</h2>
    <br>

    <ion-item lines="none">
      <ion-label>
        <ion-icon name="mail"></ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="email" placeholder="Your E-mail"></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-item lines="none">
      <ion-label>
        <ion-icon name="lock-closed"></ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="password" placeholder="Your Password"></ion-input>
    </ion-item>
    
    <br>
    <br>
    
    <ion-button (click)="signUp()">Signup</ion-button>
    <p routerLink="/intro">Back</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    
  </div>
</ion-content>
