.page-container {
  margin-left: 2rem;
  margin-right: 2rem;

  .header {
    position: relative;

    ion-img {
      margin-top: 2rem;
      display: block;
      border-radius: 10px !important;
      overflow: hidden;
    }

    ion-label {
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 2.5rem;
      font-weight: 600;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
    }
  }

  .timeline {
    position: relative;
    bottom: -1rem;

    &:after {
      content: "";
      position: absolute;
      width: 2px;
      height: 500px;
      background-color: #87ceeb;
      top: 0;
      left: 50%;
      margin-left: -1px;
      z-index: 1;
    }

    .timeline-item {
      margin-bottom: 50px;
      z-index: 2;

      .date-box {
        left: calc(50% - (104px / 2));
        position: absolute;
        width: 104px;
        height: 30px;
        flex-shrink: 0;
        background-color: #87ceeb;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: white;
        font-weight: 400;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        z-index: 3;
      }

      .item-content {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 40px;

        &:before {
          content: "";
          position: absolute;
          height: 2px;
          width: 100px;
          background-color: #87ceeb;
          top: 50%;
          left: 30%;
          z-index: 1;
        }

        .description-card {
          width: 130px;
          height: 75px;
          flex-shrink: 0;
          border-radius: 10px;
          background: #fff;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          z-index: 2;

          .description-text {
            width: 125px;
            height: 65px;
            color: #000;
            font-size: 12px;
            font-weight: 400;
            padding: 10px;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .photo {
          width: 130px;
          height: 75px;
          flex-shrink: 0;
          right: calc(50% - (130px + 104px + 75px) / 2);
          border-radius: 10px !important;
          overflow: hidden;
          z-index: 2;
          object-fit: cover;
        }
      }
    }

    .timeline-item.reverse-layout .item-content {
      flex-direction: row-reverse;
    }

    ion-fab {
      position: absolute;
      bottom: -100px;
      right: calc(50% - (56px / 2));
      z-index: 3;
    }

    ion-fab-button {
      --background: #87ceeb;
      --color: white;
    }
  }
}

.timeline {
  position: relative;
  bottom: -1rem;

  &:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 500px;
    background-color: #87ceeb;
    top: 0;
    left: 50%;
    margin-left: -1px;
    z-index: 1;
  }

  .scroll-container {
    max-height: 500px;
    overflow-y: auto;

    .timeline-item {
      margin-bottom: 50px;
      z-index: 2;

      .date-box {
        left: calc(50% - (104px / 2));
        position: absolute;
        width: 104px;
        height: 30px;
        flex-shrink: 0;
        background-color: #87ceeb;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: white;
        font-weight: 400;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        z-index: 3;
      }

      .item-content {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 40px;

        &:before {
          content: "";
          position: absolute;
          height: 2px;
          width: 100px;
          background-color: #87ceeb;
          top: 50%;
          left: 30%;
          z-index: 1;
        }

        .description-card {
          width: 130px;
          height: 75px;
          flex-shrink: 0;
          border-radius: 10px;
          background: #fff;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          z-index: 2;

          .description-text {
            width: 125px;
            height: 65px;
            color: #000;
            font-size: 12px;
            font-weight: 400;
            padding: 10px;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
          }
        }
        .photo {
          width: 130px;
          height: 75px;
          flex-shrink: 0;
          right: calc(50% - (130px + 104px + 75px) / 2);
          border-radius: 10px !important;
          overflow: hidden;
          z-index: 2;
          object-fit: cover;
        }
      }
    }
  }
  .scrolling-content {
    position: relative;
  }
  .timeline-item.reverse-layout .item-content {
    flex-direction: row-reverse;
  }

  ion-fab {
    position: absolute;
    bottom: -50px !important;
    right: calc(50% - (56px / 2));
    z-index: 3;
  }

  ion-fab-button {
    --background: #87ceeb;
    --color: white;
  }

.custom-popover .popover-content {
  width: 340px;
  height: 460px;
  flex-shrink: 0;
  border-radius: 35px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}

}
