<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/dashboard/dashboard">
      <ion-icon aria-hidden="true" name="grid" color="dark"></ion-icon>
      <ion-label color="dark">Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timeline" href="/tabs/timeline">
      <ion-icon aria-hidden="true" name="hourglass-outline"></ion-icon>
      <ion-label>Timeline</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon aria-hidden="true" name="log-out-outline"></ion-icon>
      <ion-label>Log Out</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
