<ion-content class="">
  <ion-button expand="block" (click)="setOpen(true)">Open</ion-button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)"><ion-icon style="font-size: 24px;" name="close-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <img class="img_baby ion-padding" src="https://picsum.photos/id/29/400/450" alt="barnPic">
      </ion-content>

      <ion-item>
        <ion-label>27. maj 2003<ion-icon name="calendar-number-outline"></ion-icon></ion-label>
      </ion-item>
      

      <ion-content class="ion-padding">
        <ion-input placeholder="Description" class="outlined-input"></ion-input>
        
        <ion-item class="d-flex">
          <ion-button><ion-icon name="trash-outline"></ion-icon></ion-button>
          <ion-button><ion-icon name="checkbox-outline"></ion-icon></ion-button>
        </ion-item>
       
      </ion-content>
      
     
      
    </ng-template>
  </ion-modal>
</ion-content>
