<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>forgotPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">forgotPassword</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text>
    <h1>Forgot password</h1>
    <h3>Enter your email address</h3>
  </ion-text>

  <div class="input-container">
    <ion-item class="ion-no-padding">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" placeholder="Enter email" required="true" clearInput="true"
        formControlName="email"></ion-input>
    </ion-item>
    <div class="error">
      <span *ngIf="email.errors?.email && email.touched">Invalid email</span>
      <span *ngIf="email.errors?.required && email.touched">Email is required</span>
    </div>
  </div>

  <ion-button  (click)="forgotPassword()" type="submit" strong="true" expand="block" shape="round" [disabled]="!credentials.valid">
    Reset Password
  </ion-button>

  <ion-text>
    <p>Once you click the above button, we’ll send an 
      email to your registered address with instructions 
      on how to reset your password</p>
  </ion-text>

</ion-content>
