ion-content {
    --background: #fff;

    .page-container {
        padding: 20px;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    .form-container {
        padding-top: 20px;

        h1 {
            font-size: 2.5rem;
            font-weight: 700;
        }

        h3 {
            font-size: 1.0rem;
            font-weight: 600;
            margin-top: 0%;
        }

        p {
            padding-top: 20px;
            color: #666;
            text-align: center;
            font-weight: 400;
        }

        .input-container {
            width: 100%;
            padding-top: 15px;

            ion-item {
                ion-icon {
                    color: #666;
                    margin-top: 35px;
                }

                ion-label {
                    color: #666;
                }

                ion-input {
                    color: #666;
                }
            }

            .error {
                color: #f44336;
                font-size: 0.8rem;
                font-weight: 600;
                padding-left: 41px;
                padding-top: 5px;
            }
        }

        ion-button {
            margin-top: 40px;
            margin-bottom: 15px;
            text-transform: capitalize;
            --box-shadow: none;
            --background: #2467f6;
            --border-radius: 10px;
            --padding-top: 25px;
            --padding-bottom: 25px;
        }
    }
}