.banner{
    width: 100%;
}

ion-button{
    border-radius: 10px;
    --background: #87CEEB;
    --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.729);
    width: 100%;

}

.center {
    text-align: center;
  }

  .centerimg{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .alternative{
    height: 3vh;
    margin: 5px;
  }