<ion-content>
  <h1>Hej Sigurd</h1>
</ion-content>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card class="card-1">
        <ion-card-header>
          <ion-card-title>Tidslinje</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Se, redigér eller tilføj til dit barns tidslinje.
        </ion-card-content>
      </ion-card>

      <ion-card class="card-3">
        <ion-card-header>
          <ion-card-title>Kamera</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Tag billeder her med
          dit kamera her.
        </ion-card-content>
      </ion-card>

      <ion-card class="card-5">
        <ion-card-header>
          <ion-card-title>Del minderne</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Del dine barns minder
          med folk du holder af
          på sociale medier.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="card-2">
        <ion-card-header>
          <ion-card-title>Billeder</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Se dit barns billeder her eller tilføj flere.
        </ion-card-content>
      </ion-card>

      <ion-card class="card-4">
        <ion-card-header>
          <ion-card-title>Milepæle</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Se dit barns seneste milepæle her.
        </ion-card-content>
      </ion-card>
      
      <ion-card class="card-6">
        <ion-card-header>
          <ion-card-title>Log ud</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Log ud af din profil her.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>


