ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    ion-icon {
        font-size: 80px; 
        color: #2467f6;
    }
    
    ion-text {
        h1 {
            font-weight: 700;
        }

        p {
            font-size: 1.0rem;
            font-weight: 600;
            color: #666;
            font-weight: 600;
        }
    }
}